
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/tools/php-cs-fixer/vendor/
###< symfony/framework-bundle ###
.php-cs-fixer.cache
workee_backend/.php-cs-fixer.cache
/mysql/