<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
        <img src="%kernel.project_dir%/public/logo-workee.png" alt="Logo"></div>
        <div class="content">
            <h1 class="text-center">Registration Link</h1>
            <p class="block">
                Hello {{ name }},<br><br>
                Someone of your organisation create you a account.<br>
                Click on the link bellow to fill in your password and complete your registration.
            </p>

            <a href="http://workee.fr/missing?hash={{hash}}" class="btn btn-light">Term 1</a>
        </div>
    </div>
</div>
</body>
</html>